<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link rel="icon" type="image/png" href="../../assets/pictures/loadingAsset%205.png"/>
	<link rel="stylesheet" href="../../assets/style.css">

    <!-- Bootstrap: -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>

    <!--Lets you use icons:-->
	<link href="../../assets/fonts/fontawesome-free-5.15.2-web/css/all.css" rel="stylesheet">
	
</head>

<title>"Home"</title>

<body>
<div id = "headerNav">
	<header class = "p-3">
		<img class = "logo" src="../../assets/pictures/big_perfect_all_violetAsset%209.png">
		<h1>%{loading: "Zhuhai"}</h1>
	</header>

	<nav class="topnav">
		<a class = "p-3 active" href="http://localhost:8000/home/">Home</a>
		<a class = "p-3" href="http://localhost:8000/team/">Team</a>
		<a class = "p-3"  href="http://localhost:8000/news/">News</a>
		<a class = "p-3"  href="http://localhost:8000/about/">About</a>
		<a class = "p-3"  href="http://localhost:8000/contact/">Contact Us</a>
	</nav>
</div>
	
	<section id = "landingPageSection" class = "landing-page-background-image">
		<h1 class = "pt-5" style = "text-align: center;">%{loading: "Zhuhai"}</h1>
		<div style = "height: 60vh" class = "d-flex justify-content-center align-items-center">
			<img id = "landingPageLogo"  src="../../assets/pictures/big_perfect_all_violetAsset%209.png">
			<a class= "mt-3" id = "enterLink" href="http://localhost:8000/home/">Scroll down</a>
		</div>
	</section>

	<!-- <div id = "blackGradientBlock"></div> -->

	<section id = "homeSection" class = "home-background-image">
		<div class = "p-5" style = "text-align: center;">
			<p>
				The steps to success are actually just the steps of progression. No one is born at the top. Even when the top is reached it will be in the shadows of the past
				without continual progression. Our future functions are made up of our present day variables. In short our future is our present. 
			</p>
			<p>
				Your coding journey begins today. Let's write your future. Be part of modern technological advances, from websites, Raspberry Pi, machine learning, cryptocurrency, AI,
				data science, the cloud, and Linux to automation. It all begins with your first line of code. Come be a part and check out our <a class = "purple-link" href="http://localhost:8000/news/">news</a> to see our recent projects and endeavours.  
			</p>
			<p>
				We have the skills and ideas to create your dream website. The place where your business can plant its feet and flourish. <a class = "purple-link" href="http://localhost:8000/contact/">Contact us</a> and we can begin making your imagination into your creation. 
			</p>
			<p>
				Come meet the <a class = "purple-link" href="http://localhost:8000/team/">team</a>. 
			</p>

		</div>
	</section>

	<section id = "teamSection" class = "black-body">
		<div class="container ">
			<div class = "row gx-5 d-flex justify-content-between">
				<div class = "col-5">
					<div class="card">
						<div class = "row d-flex justify-content-center">
							<img class = "teamPic" src="../../assets/pictures/Nathaniel.JPG" alt="Nate">
						</div>

						<div class = "row">
							<h2>Nathaniel Rollins (USA)</h2> 
						</div>

						<div class = "row gx-5">
							<div class = "col-1">
								<i class="fas fa-user"></i>
							</div>
							<div class = "col-10">
								<p class="title">Founder</p>
							</div>
						</div>


						<div class = "row gx-5">
							<div class = "col-1">
								<i class="fas fa-code"></i>
							</div>
							<div class = "col-10">
								<p class="title">Python, Elixir, JavaScript, HTML, CSS</p>
							</div>
						</div>

						<div class = "row gx-5">
							<div class = "col-1">
								<i class="fas fa-desktop"></i>
							</div>
							<div class = "col-10">
								<p class="title">Django, Phoenix, Docker, Vim, Github, Postgresql</p>
							</div>
						</div>

						<div class = "row gx-5">
							<div class = "col-1">
								<a href="#">
									<i class="fas fa-arrow-alt-circle-right"></i>
								</a>
							</div>
							<div class = "col-10">
								<a class="title white-link" href="http://localhost:8000/team/nathaniel/">Personal page</a>
							</div>
						</div>
					</div> <!-- card -->
				</div> <!-- col-6 -->

				<div class = "col-5">
					<div class="card teamMemberCard">
						<div class = "row d-flex justify-content-center">
							<img class = "teamPic" src="../../assets/pictures/Joanne pic.jpg" alt="Joanne">
						</div>

						<div class = "row">
							<h2>Joanne Seymour (UK)</h2>
						</div>

						<div class = "row gx-5">
							<div class = "col-1">
								<i class="fas fa-user"></i>
							</div>
							<div class = "col-10">
								<p class="title">Co-founder</p>
							</div>
						</div>

						<div class = "row gx-5">
							<div class = "col-1">
								<i class="fas fa-code"></i>
							</div>
							<div class = "col-10">
								<p class="title">JavaScript, HTML, CSS</p>
							</div>
						</div>

						<div class = "row gx-5">
							<div class = "col-1">
								<i class="fas fa-desktop"></i>
							</div>
							<div class = "col-10">
								<p class="title">Bootstrap, Node.js, Github</p>
							</div>
						</div>

						<div class = "row gx-5">
							<div class = "col-1">
								<a href="#">
									<i class="fas fa-arrow-alt-circle-right"></i>
								</a>
							</div>
							<div class = "col-10">
								<a class="title white-link" href="http://localhost:8000/team/joanne/">Personal page</a>
							</div>
						</div>
					</div> <!-- card -->
				</div> <!-- col-6 -->

				<div class = "col-5">
					<div class="card teamMemberCard">
						<div class = "row d-flex justify-content-center">
							<img class = "teamPic" src="../../assets/pictures/mo.jpg" alt="mo">
						</div>

						<div class = "row">
							<h2>Mo Mounir (Egypt)</h2>
						</div>

						<div class = "row gx-5">
							<div class = "col-1">
								<i class="fas fa-user"></i>
							</div>
							<div class = "col-10">
								<p class="title">Database Designer</p>
							</div>
						</div>

						<div class = "row gx-5">
							<div class = "col-1">
								<i class="fas fa-code"></i>
							</div>
							<div class = "col-10">
								<p class="title">Python</p>
							</div>
						</div>

						<div class = "row gx-5">
							<div class = "col-1">
								<i class="fas fa-desktop"></i>
							</div>
							<div class = "col-10">
								<p class="title">Blockchain</p>
							</div>
						</div>

						<div class = "row gx-5">
							<div class = "col-1">
								<a href="#">
									<i class="fas fa-arrow-alt-circle-right"></i>
								</a>
							</div>
							<div class = "col-10">
								<a class="title white-link" href="http://localhost:8000/team/mo/">Personal page</a>
							</div>
						</div>
					</div> <!-- card -->
				</div> <!-- col-6 -->
				<div class = "col-5">
					<div class="card teamMemberCard">
						<div class = "row d-flex justify-content-center">
							<img class = "teamPic" src="../../assets/pictures/rocky.jpeg" alt="Joanne">
						</div>

						<div class = "row">
							<h2>Rocky (China)</h2>
						</div>

						<div class = "row gx-5">
							<div class = "col-1">
								<i class="fas fa-user"></i>
							</div>
							<div class = "col-10">
								<p class="title">Raspberry Pi Specialist</p>
							</div>
						</div>

						<div class = "row gx-5">
							<div class = "col-1">
								<i class="fas fa-code"></i>
							</div>
							<div class = "col-10">
								<p class="title">Python</p>
							</div>
						</div>

						<div class = "row gx-5">
							<div class = "col-1">
								<i class="fas fa-desktop"></i>
							</div>
							<div class = "col-10">
								<p class="title">Raspberry Pi, 3D Printing</p>
							</div>
						</div>

						<div class = "row gx-5">
							<div class = "col-1">
								<a href="#">
									<i class="fas fa-arrow-alt-circle-right"></i>
								</a>
							</div>
							<div class = "col-10">
								<a class="title white-link" href="http://localhost:8000/team/rocky/">Personal page</a>
							</div>
						</div>
					</div> <!-- card -->
				</div> <!-- col-6 -->
			</div> <!-- row -->
		</div> <!-- container -->
	</section>

	<section id = "newsSection" class = "news-background-image">
		<div>
		<h1 class = "p-4" style = "text-align: center;">News</h1>
		</div>
	</section>

	<section id = "aboutSection" class = "black-body">
			<div>
				<h1 class = "p-4" style = "text-align: center;">About Us</h1>
			</div>
			<div id = "intro" class = "mx-4">
				<p>
					Most hobbies and pursuits in life involve a physical location or place of recreation and refuge.
					This can be found in all sports, religion, crafts, arts, music, and even video gaming. However, when the matter comes to computer programming, there is no designated location, at least not until GitHub opens their own coffee shops with outlets circling every table. 
				</p>
				<p>	
				The absence of such has lead to our creation: a group of programmers from all nations centered in one location. Though as a diverse array of engineers, we have many disciplines and goals being brought to the single table, our one commitment is to keep the number of our coded-creations never-ending, and to assist others to do the same. That is why we are "loading".
				</p>
				<p style="color: #FFFFFF; margin-top: 30px;">Because we are eternally loading...</p>
			</div>
			<div class = "d-flex justify-content-center py-4">
			<img style="height: 130px; width: 170px;" src="../../assets/pictures/big_perfect_all_violetAsset%209.png">
		</div>
	</section>

	<section id = "contactSection" class = "contact-background-image">
		<div class="container">
			<h1 class = "p-4" style = "text-align: center;">Contact Us</h1>

			<h2 class = "contact-h2">
				Contact us at <span style="color: #ba81ee">loading.zhuhai@gmail.com</span>
			</h2>

			<h2 class = "contact-h2">
				For business inquiries, please use "Business" as the e-mail subject.
			</h2>

		</div>
	</section>

	<footer id="footer">2021 %{loading: "Zhuhai"}</footer>

<script>

	const headerNav = document.getElementById('headerNav');
	const landingPageSection = document.getElementById('landingPageSection');
	
	headerNav.style = "display: none";
	
	window.addEventListener('scroll', function() {
		let offset = window.pageYOffset;
		if (offset > (landingPageSection.clientHeight * 0.5)) {
			headerNav.style = "display: block";
			headerNav.classList.add('scroll');
			headerNav.classList.add('fade-in');
		} else {
			headerNav.style = "display: none";
			headerNav.classList.remove('scroll');
		}
	});

</script>
</body>


</html>
