<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link rel="icon" type="image/png" href="../../assets/pictures/loadingAsset%205.png"/>
	<link rel="stylesheet" href="../../assets/style.css">

    <!-- Bootstrap: -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>

    <!--Lets you use icons:-->
	<link href="../../assets/fonts/fontawesome-free-5.15.2-web/css/all.css" rel="stylesheet">
	
</head>

<title>"Home"</title>

<body   class = "home-background-image">

	<div class = "transparent-black-overlay">
    <header class = "p-3">
		<img class = "logo" src="../../assets/pictures/big_perfect_all_violetAsset%209.png">
        <h1>%{loading: "Zhuhai"}</h1>
	</header>

	<nav class="topnav">
		<a class = "p-3 active" href="http://localhost:8000/home/">Home</a>
		<a class = "p-3"  href="http://localhost:8000/news/">News</a>
		<a class = "p-3"  href="http://localhost:8000/contact/">Contact Us</a>
		<a class = "p-3" href="http://localhost:8000/team/">Team</a>
		<a class = "p-3"  href="http://localhost:8000/about/">About</a>
	</nav>

	<div class = "p-4" style = "text-align: center;">
		<p>
			The steps to success are actually just the steps of progression. No one is born at the top. Even when the top is reached it will be in the shadows of the past
			without continual progression. Our future functions are made up of our present day variables. In short our future is our present. 
		</p>
		<p>
			Your coding journey begins today. Let's write your future. Be part of modern technological advances, from websites, Raspberry Pi, machine learning, cryptocurrency, AI,
			data science, the cloud, and Linux to automation. It all begins with your first line of code. Come be a part and check out our <a class = "purple-link" href="http://localhost:8000/news/">news</a> to see our recent projects and endeavours.  
		</p>
		<p>
			We have the skills and ideas to create your dream website. The place where your business can plant its feet and flourish. <a class = "purple-link" href="http://localhost:8000/contact/">Contact us</a> and we can begin making your imagination into your creation. 
		</p>
		<p>
			Come meet the <a class = "purple-link" href="http://localhost:8000/team/">team</a>. 
		</p>

	</div>
	</div>
	<footer id="footer">2021 %{loading: "Zhuhai"}</footer>
</div>
</body>

</html>
