<h1>
	The steps to success are actaully just the steps of progression. No one is born at the top. Even when the top is reached it will be in the shadows of the past
	without continual progression. Our future functions are made up of our present day variables. In short our future is our present. 
</h1>
<h1>
	Your coding journey begins today. Let's write your future. Be part of modern technological advances, from websites, Raspberry Pi, machine learning, cryptocurrency, AI,
	data science, the cloud, Linux to automation. It all begins with your first line of code. Come be a part and check out our NEWS to see our recent projects and endevours.  
</h1>
<h1>
	We have the skills and ideas to create your dream website. The place where your business can plant its feet and flourish. CONTACT US and we can begin making your imagination into you creation. 
</h1>
<h1>
	Come meet the TEAM. 
</h1>
