<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link rel="icon" type="image/png" href="../../assets/pictures/loadingAsset%205.png"/>
	<link rel="stylesheet" href="../../assets/style.css">

    <!-- Bootstrap: -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>

    <!--Lets you use icons:-->
	<link href="../../assets/fonts/fontawesome-free-5.15.2-web/css/all.css" rel="stylesheet">
</head>

<title>%{loading: "Contact Us"}</title>

<body>

    <header class = "p-3">
		<img class = "logo" src="../../assets/pictures/big_perfect_all_violetAsset%209.png">
        <h1>%{loading: "Zhuhai"}</h1>
	</header>

	<nav class="topnav">
		<a class = "p-3" href="http://localhost:8000/home/">Home</a>
		<a class = "p-3"  href="http://localhost:8000/news/">News</a>
		<a class = "p-3" href="http://localhost:8000/contact/">Contact Us</a>
		<a class = "p-3" href="http://localhost:8000/team/">Team</a>
		<a class = "p-3 active"  href="http://localhost:8000/about/">About</a>
	</nav>


	<div>
		<h1 class = "p-4" style = "text-align: center;">About Us</h1>
	</div>
	<div id = "intro" class = "mx-4">
		<p>
			Most hobbies and pursuits in life involve a physical location or place of recreation and refuge.
			This can be found in all sports, religion, crafts, arts, music, and even video gaming. However, when the matter comes to computer programming, there is no designated location, at least not until GitHub opens their own coffee shops with outlets circling every table. 
		</p>
		<p>	
		The absence of such has lead to our creation: a group of programmers from all nations centered in one location. Though as a diverse array of engineers, we have many disciplines and goals being brought to the single table, our one commitment is to keep the number of our coded-creations never-ending, and to assist others to do the same. That is why we are "loading".
		</p>
		<p style="color: #FFFFFF; margin-top: 30px;">Because we are eternally loading...</p>
	</div>
	<div class = "d-flex justify-content-center my-4">
	<img style="height: 130px; width: 170px;" src="../../assets/pictures/big_perfect_all_violetAsset%209.png">
</div>
</body>
<footer>2021 %{loading: "Zhuhai"}</footer>
</html>
