{% extends "base.html" %}
{% load static %}
{% block page_content %}

<title>%{"Rocky"}</title>
<body class = "black-body">

    <main>
        <div class="row">
            <div class="card">
                <div class="container">
                    <div class = "row">
                        <h2>Rocky</h2>
                    </div>

                    <div class = "row">
                        <div class = "col-1">
                            <i class="fas fa-user"></i>
                        </div>
                        <div class = "col-11">
                            <p class="title">Raspberry Pi Specialist</p>
                        </div>
                    </div>

                    <div class = "row">
                        <div class = "col-1">
                            <i class="fas fa-globe"></i>
                        </div>
                        <div class = "col-11">
                            <p class="title">China</p>
                        </div>
                    </div>

                    <div class = "row">
                        <div class = "col-1">
                            <i class="fas fa-code"></i>
                        </div>
                        <div class = "col-11">
                            <p class="title">Python</p>
                        </div>
                    </div>

                    <div class = "row">
                        <div class = "col-1">
                            <i class="fas fa-desktop"></i>
                        </div>
                        <div class = "col-11">
                            <p class="title">Raspberry Pi, 3D Printing</p>
                        </div>
                    </div>

                    <div class = "row">
                        <div class = "col-1">
                            <a href="https://github.com/rockymito/">
                                <i class="fab fa-github white-link"></i>
                            </a>
                        </div>
                        <div class = "col-11">
                            <a class="title white-link" href="https://github.com/rockymito/">Github</a>
                        </div>
                    </div>
                </div>
            </div>
        </main>
</body>
{% endblock %}

